<div class="container-fluid">
    <h2 data-bind="text: playerName"></h2>
    <table data-bind="with: game" class="table">
        <tr data-bind="foreach: frames" class="scores">
            <td data-bind="text: bowl1Text" class="firstPin"></td>
            <td data-bind="text: bowl2Text"></td>
            <!--ko if: finalFrame-->
            <td data-bind="text: bowl3Text"></td>
            <!--/ko-->
        </tr>
        <tr data-bind="foreach: frames" class="totals">
            <td data-bind="text: total, attr: {colspan: noOfBowls}"></td>
        </tr>
    </table>
</div>
