<h1>ATG Bowling</h1>
<form data-bind="submit: getPlayers, ifnot: playerCountEntered" class="form-inline">
    <div class="form-group">
        <label for="playerCount">Please enter the number of players:</label>
        <input data-bind="value: lane.playerCount, hasFocus: enterNoOfPlayers" id="playerCount" type="number" class="form-control" />
    </div>
    <input type="submit" value="Go" class="btn btn-primary" />
</form>
<!--ko if: showNameInput-->
    <name-input params="players: lane.players"></name-input>
<!--/ko-->
<!--ko if: showGameOver-->
    <h3 data-bind="text: lane.gameOverMessage"></h3>
<!--/ko-->
<!--ko if: showScoreInput-->
    <score-input params="lane: lane"></score-input>
<!--/ko-->
<!--ko foreach: lane.players-->
    <score-card params="player: $data"></score-card>
<!--/ko-->