<form data-bind="submit: addScore" class="form-inline">
    <div data-bind="css: hasError" class="form-group">
        <label for="score"><span data-bind="text: playerName"></span> please enter your score for bowl <span data-bind="text: bowl"></span> of frame <span data-bind="text: frame"></span>:</label>
        <input data-bind="textInput: score, hasFocus: enterScore" id="score" type="number" class="form-control" />
    </div>
    <input type="submit" value="Go" class="btn btn-primary" />
    <span data-bind="text: error" class="text-danger"></span>
</form>