#page {
    margin-top: 80px;
}
.table tr.totals td {
    border: 1px solid #111111;
    border-top: inherit;
    height: 2em;
}
.table tr.scores td {
    border: 1px solid #111111;
    height: 2em;
    width: 2em;
}
.table tr.scores td.firstPin {
    border-bottom: none;
}