<form data-bind="submit: addPlayer" class="form-inline">
    <div class="form-group">
        <label for="playerName">Please enter the name of player <span data-bind="text: playerNo"></span>:</label>
        <input data-bind="value: playerName, hasFocus: enterName" id="playerName" type="text" class="form-control" />
    </div>
    <input type="submit" value="Go" class="btn btn-primary" />
</form>